$colorBackground: #3ae63a;
$colorBackground-alfa: #a2f9af;
$colorButtons: #68b0df;
$colorHoverButtons: #1d689b;
$colorText: #0b387c;
$modalBackground: #00000035;

%transition {
  transition: all 0.5s ease-out;
}