

.td {
  background-color: $colorBackground-alfa;
  border: 1px solid #000;
}

.winner-table {
  margin-top: 20px;
}

.td {
  padding: 5px 10px;
}

.td_button {
  cursor: pointer;
  @extend %transition;

  &:hover {
    background-color: $colorBackground-hover;
  }

  &:active {
    background-color: $colorBackground;
  }
}

.span-icon {
  background: url('../src/assets/arrow_icon_244421.svg') center no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}