
footer {
  margin: 10px;
  background-color: white;
}

.footer__wrapper {
  @include columns($width: 20%);
  align-items: center;
  font-size: 1.0rem;
  line-height: 1.4rem;
  padding: 10px;
  border: 1px solid brown;
  border-radius: 5px;
}

.footer__element {
  text-align: center;
  min-height: 45px;
  width: 100%;
}

.link_gh {
  display: block;
  box-sizing: content-box;
  background: url(../src/assets/svg/github.svg) right no-repeat;
  width: 32px;
  height: 32px;
}

.link_icon_gh {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  transition: 0.3s all linear;
  &:hover {
    color: rgb(152, 152, 48);
    transform: scale(1.2);
  }
}

.link_rss_icon {
  display: block;
  background: url(../src/assets/svg/rs_school_js.svg) left no-repeat;
  width: 100%;
  min-height: 45px;
  transition: 0.3s all linear;
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}

.link_rss {
  display: block;
  height: 45px;
}
