* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aqua;
}

.main {
  margin: 0 auto;
  max-width: 490px;
}

.game-block__wrapper {
  background-color: white;
}

.game-block__header {
  display: flex;
  flex-wrap: wrap;
}

.game-block__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  width: 490px;
  height: 520px;
}
.content_S{
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
}
.content_M{
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 2px;
}
.content_L{
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
  gap: 0.5px;
}

.game-block__item {
  display: flex;
  background-color: gray;
  border-radius: 5px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.mine {
  background-color: red;
}

.hidden {
  color: transparent !important;
  background-color: bisque;
}

.message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100px;
  height: 100px;
  background-color: chartreuse;
}

.message_visible {
  display: block;
}

.restart {
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.active-mines {
  width: fit-content;
    padding: 20px;
    margin: 20px;
    background-color: bisque;
}

.used-flags {
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.game-time {
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.game-clicks {
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.flag {
  background: url(assets/star.svg) center no-repeat;
  background-color: chartreuse;
}

.game-mode {
  display: flex;
  width: fit-content;
  padding: 20px;
  margin: 20px;
  background-color: bisque;
}

.game-mode__size {
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
}
.game-mode__size_active {
  background-color: cadetblue;
}


.game-mode__number {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.game-block__footer {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.results__button {
  border: 1px solid #000;
  cursor: pointer;
}

.results__block {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 200px;
  height: 200px;
  background-color: chartreuse;
}

.results__block_visible {
  display: block;
}