html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 6%;
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

