@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-regular.ttf") format("truetype"), url("../fonts/arial/ArialMT.woff2") format("woff2"), url("../fonts/arial/ArialMT.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial/arial-narrow.ttf") format("truetype"), url("../fonts/arial/ArialNarrow.woff2") format("woff2"), url("../fonts/arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-italic.ttf") format("truetype"), url("../fonts/arial/Arial-ItalicMT.woff2") format("woff2"), url("../fonts/arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-bold.ttf") format("truetype"), url("../fonts/arial/Arial-BoldMT.woff2") format("woff2"), url("../fonts/arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial/arial-narrow-bold-italic.ttf") format("truetype"), url("../fonts/arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../fonts/arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-black.ttf") format("truetype"), url("../fonts/arial/Arial-Black.woff2") format("woff2"), url("../fonts/arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial/arial-narrow-italic.ttf") format("truetype"), url("../fonts/arial/ArialNarrow-Italic.woff2") format("woff2"), url("../fonts/arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/arial/arial-bold-italic.ttf") format("truetype"), url("../fonts/arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../fonts/arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../fonts/arial/arial-narrow-bold.ttf") format("truetype"), url("../fonts/arial/ArialNarrow-Bold.woff2") format("woff2"), url("../fonts/arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/georgia-regular.ttf") format("truetype"), url("../fonts/georgia/Georgia.woff2") format("woff2"), url("../fonts/georgia/Georgia.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/georgia-bold-italic.ttf") format("truetype"), url("../fonts/georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../fonts/georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/georgia-bold.ttf") format("truetype"), url("../fonts/georgia/Georgia-Bold.woff2") format("woff2"), url("../fonts/georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia/georgia-italic.ttf") format("truetype"), url("../fonts/georgia/Georgia-Italic.woff2") format("woff2"), url("../fonts/georgia/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Georgia";
}

.body_fixed {
  position: fixed;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  padding: 15px 45px;
}

header a {
  padding: 0;
}

footer a {
  padding: 0;
}
footer a:hover {
  color: #FAFAFA;
}

h1 {
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
}
@media (max-width: 730px) {
  h2 {
    font-size: 34px;
    text-align: center;
  }
}
@media (max-width: 510px) {
  h2 {
    font-size: 25px;
    letter-spacing: 1.2px;
  }
}

h3 {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  margin: 0;
}
@media (max-width: 730px) {
  h3 {
    font-size: 30px;
    letter-spacing: 1.5px;
  }
}
@media (max-width: 510px) {
  h3 {
    font-size: 25px;
    text-align: center;
  }
}

p {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 730px) {
  .wrapper {
    padding: 0 10px;
  }
}

.button {
  display: inline-block;
  color: #292929;
  font-size: 17px;
  line-height: 130%;
  background-color: #F1CDB3;
  border-radius: 100px;
  letter-spacing: 1px;
  transition: all linear 0.3s;
}
.button:hover {
  background-color: #FDDCC4;
}

.button-card {
  display: inline-block;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  background-color: #F1CDB3;
  border-radius: 9px;
  letter-spacing: 1px;
  transition: all linear 0.3s;
}
.button-card > a {
  padding: 10px 15px;
}
.button-card > a > span {
  vertical-align: middle;
}
.button-card:hover {
  background-color: #FDDCC4;
}
@media (max-width: 510px) {
  .button-card {
    font-size: 15px;
    line-height: 110%;
  }
}

.header {
  position: absolute;
  width: 100%;
}

.header_our-pets {
  margin-bottom: 30px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F1CDB3;
  padding-top: 30px;
}
.header_wrapper.pets {
  color: #545454;
}
@media (max-width: 767px) {
  .header_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo_subtitle {
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1.3px;
  font-weight: 400;
  padding: 10px 0 0 4px;
}
.logo_subtitle.pets {
  color: #292929;
}

.nav_block {
  display: flex;
  list-style: none;
  gap: 35px;
  padding-left: 0;
}
@media (max-width: 767px) {
  .nav_block {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 248px 38px 0 39px;
  }
}

.nav_item {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #CDCDCD;
  text-decoration: none;
}
@media (max-width: 767px) {
  .nav_item {
    font-size: 32px;
    line-height: 160%;
    text-align: center;
  }
}
.nav_item.pets {
  color: #545454;
}
.nav_item.pets:hover {
  color: #292929;
}
.nav_item.pets:active {
  color: #545454;
}
.nav_item:hover {
  color: #FAFAFA;
}
.nav_item:active {
  border-bottom: 3px solid #F1CDB3;
}

.item_active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}
.item_active.pets {
  color: #292929;
}

.navigation {
  transition: right linear 0.5s;
}
@media (max-width: 767px) {
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #292929;
  }
  .navigation.pets {
    background-color: #FFFFFF;
  }
}

.navigation_active {
  transition: right linear 0.5s;
}
@media (max-width: 767px) {
  .navigation_active {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.burger {
  display: none;
  transition: all linear 0.3s;
}
@media (max-width: 767px) {
  .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.burger-line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
.burger-line.pets {
  background-color: #000000;
}

.burger_rotate {
  transform: rotate(90deg);
  z-index: 3;
  transition: all linear 0.3s;
}

.not-only {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211f20;
}

.not-only_header {
  margin: 163px 0 42px 0;
}
@media (max-width: 1100px) {
  .not-only_header {
    margin: 0 0 42px 0;
  }
}

.not-only_wrapper {
  display: flex;
  padding-top: 180px;
  gap: 42px;
}
@media (max-width: 1100px) {
  .not-only_wrapper {
    padding-top: 150px;
  }
}
@media (max-width: 900px) {
  .not-only_wrapper {
    flex-direction: column;
    align-items: end;
    gap: 100px;
  }
}
@media (max-width: 730px) {
  .not-only_wrapper {
    gap: 105px;
  }
}

@media (max-width: 900px) {
  .not-only_content {
    display: flex;
    flex-direction: column;
    padding: 0 124px;
  }
}
@media (max-width: 730px) {
  .not-only_content {
    padding: 0 50px;
  }
}
@media (max-width: 510px) {
  .not-only_content {
    padding: 0 0;
  }
}

.not-only_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-bottom: 42px;
}
@media (max-width: 510px) {
  .not-only_text {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .not-only_button {
    align-self: center;
  }
}

.not-only_image {
  display: block;
  max-width: 698px;
}
@media (max-width: 1100px) {
  .not-only_image {
    max-width: 569px;
  }
}
@media (max-width: 730px) {
  .not-only_image {
    max-width: 400px;
  }
}
@media (max-width: 510px) {
  .not-only_image {
    max-width: 260px;
  }
}

.wrapper_about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 900px) {
  .wrapper_about {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media (max-width: 730px) {
  .wrapper_about {
    padding-top: 40px;
    padding-bottom: 42px;
    gap: 40px;
  }
}

.about_content {
  max-width: 430px;
}

.about_image {
  display: block;
  max-width: 300px;
}
@media (max-width: 510px) {
  .about_image {
    max-width: 260px;
  }
}

.about_text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  padding-top: 25px;
}
@media (max-width: 510px) {
  .about_text {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.our-friends_content {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
}
@media (max-width: 900px) {
  .our-friends_content {
    gap: 12px;
  }
}
@media (max-width: 510px) {
  .our-friends_content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.slider_button {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider_button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  transition: all linear 0.3s;
}
@media (max-width: 510px) {
  .slider_button {
    order: 2;
  }
}

.slider_button__left {
  background: url(../assets/icons/Arrow.svg) no-repeat center;
  transform: rotate(180deg);
}
@media (max-width: 510px) {
  .slider_button__left {
    margin: 0 30px;
  }
}

.slider_button__right {
  background: url(../assets/icons/Arrow.svg) no-repeat center;
}
@media (max-width: 510px) {
  .slider_button__right {
    margin: 0 30px;
  }
}

.slider_container {
  max-width: 990px;
  flex-grow: 1;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .slider_container {
    max-width: 580px;
  }
}
@media (max-width: 730px) {
  .slider_container {
    max-width: 270px;
    flex-basis: 100%;
    order: 1;
  }
}

.slider-track {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -100%;
  width: fit-content;
}
@media (max-width: 730px) {
  .slider-track {
    justify-content: center;
  }
}

.block {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
@media (max-width: 1100px) {
  .block {
    width: 580px;
  }
  .block > :last-child {
    display: none;
  }
}
@media (max-width: 730px) {
  .block {
    width: 270px;
  }
  .block > :nth-child(2) {
    display: none;
  }
}

@keyframes move-right {
  from {
    left: -100%;
  }
  to {
    left: -200%;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

@keyframes move-left {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends_header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
@media (max-width: 1100px) {
  .our-friends_header.pets {
    padding-bottom: 30px;
  }
}
@media (max-width: 730px) {
  .our-friends_header.pets {
    padding-bottom: 42px;
  }
}
@media (max-width: 730px) {
  .our-friends_header {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.button_disabled {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  cursor: default;
}
.button_disabled:hover {
  background-color: transparent;
  border: 2px solid #CDCDCD;
}

.button_center {
  background-color: #F1CDB3;
}

.slider-track_pets {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
}
@media (max-width: 900px) {
  .slider-track_pets {
    justify-content: center;
  }
}
.slider_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
}
.slider_item:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all linear 0.3s;
}
.slider_item:hover > :last-child {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  transition: all linear 0.3s;
}

.slider_item-foto {
  width: 100%;
}

.slider_item-name {
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #545454;
}

.slider_item-button {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #292929;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.our-friends_button {
  margin: 60px 0 100px 0;
}
@media (max-width: 730px) {
  .our-friends_button {
    margin: 42px 0 42px 0;
  }
}

.slider-pagination {
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  color: #292929;
  margin: 60px 0 100px 0;
}
@media (max-width: 1100px) {
  .slider-pagination {
    margin: 40px 0 76px 0;
  }
}
@media (max-width: 510px) {
  .slider-pagination {
    gap: 10px;
    margin: 42px 0 42px 0;
  }
}

.hidden {
  display: none;
}

.help_header {
  text-align: center;
  padding: 80px 0 60px 0;
}
@media (max-width: 1100px) {
  .help_header {
    padding: 80px 0 56px 0;
  }
}
@media (max-width: 730px) {
  .help_header {
    padding: 42px 0 42px 0;
  }
}

.help_content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
  justify-content: center;
  margin: 0 87px 100px 87px;
}
@media (max-width: 1100px) {
  .help_content {
    margin: 0 39px 100px 39px;
    column-gap: 60px;
  }
}
@media (max-width: 510px) {
  .help_content {
    justify-content: flex-start;
    margin: 0 5px 39px 5px;
    row-gap: 30px;
    column-gap: 29px;
  }
}

.help_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
}
@media (max-width: 1100px) {
  .help_item {
    width: 170px;
  }
}
@media (max-width: 730px) {
  .help_item {
    width: 130px;
    gap: 20.5px;
  }
}

.help_item-icon > img {
  display: block;
  width: 60px;
  height: 60px;
}
@media (max-width: 730px) {
  .help_item-icon > img {
    width: 50px;
    height: 50px;
  }
}

.help_item-text {
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 1px;
  color: #545454;
}
@media (max-width: 730px) {
  .help_item-text {
    font-size: 15px;
    line-height: 110%;
  }
}

.in-addition {
  background-color: #F6F6F6;
}

.in-addition_wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 95px;
}
@media (max-width: 900px) {
  .in-addition_wrapper {
    flex-direction: column-reverse;
    gap: 57px;
    padding-bottom: 100px;
  }
}
@media (max-width: 730px) {
  .in-addition_wrapper {
    gap: 42px;
    padding: 42px 19px;
  }
}

.in-addition_image {
  display: block;
  width: 505px;
}
@media (max-width: 730px) {
  .in-addition_image {
    max-width: 380px;
  }
}
@media (max-width: 510px) {
  .in-addition_image {
    max-width: 260px;
  }
}

.in-addition_content {
  max-width: 380px;
}
@media (max-width: 510px) {
  .in-addition_content {
    width: 100%;
  }
}

.in-addition_text {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.9px;
  color: #545454;
  margin: 20px 0;
}
@media (max-width: 510px) {
  .in-addition_text {
    letter-spacing: normal;
    text-align: center;
    margin: 24px 0;
  }
}

.in-addition_note {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-top: 20px;
}
@media (max-width: 510px) {
  .in-addition_note {
    text-align: justify;
  }
}

.card-icon {
  display: inline-block;
  background: url(../assets/icons/credit-card.svg) center no-repeat;
  width: 30px;
  height: 23px;
  margin-right: 15px;
}
@media (max-width: 510px) {
  .card-icon {
    margin-right: 12px;
  }
}

.footer {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) #211f20;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}
@media (max-width: 1100px) {
  .footer_wrapper {
    justify-content: center;
    gap: 60px;
    padding-top: 30px;
  }
}
@media (max-width: 510px) {
  .footer_wrapper {
    gap: 40px;
  }
}

.footer_header {
  color: #FFFFFF;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 40px;
}
.footer_contacts .footer_header {
  width: 278px;
}
@media (max-width: 1100px) {
  .footer_contacts {
    padding-top: 0;
  }
}
@media (max-width: 510px) {
  .footer_contacts {
    width: 100%;
    align-items: center;
  }
}

.footer_visits {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-right: 10px;
  gap: 32px;
}
.footer_visits .footer_header {
  width: 270px;
}
@media (max-width: 1100px) {
  .footer_visits {
    padding-top: 0;
  }
}
@media (max-width: 350px) {
  .footer_visits {
    gap: 38px;
    padding-right: 0;
    width: 100%;
  }
  .footer_visits .footer_header {
    margin: 0 auto;
  }
}

.footer_image {
  display: block;
  width: 300px;
}
@media (max-width: 510px) {
  .footer_image {
    width: 260px;
  }
}

.footer_item {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1px;
  color: #F1CDB3;
}
.footer_item > * {
  vertical-align: middle;
}

.footer_icon {
  display: inline-block;
  width: 40px;
  height: 32px;
  margin-right: 14px;
}

.icon-email {
  background: url(../assets/icons/icon-email.svg) center no-repeat;
}

.icon-phone {
  background: url(../assets/icons/icon-phone.svg) center no-repeat;
}

.icon-adress {
  width: 22px;
  background: url(../assets/icons/icon-marker.svg) center no-repeat;
}

.modal-window {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: transparent;
  transition: color linear 0.3s;
}

.modal-window_active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: color linear 0.3s;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  border-radius: 9px;
  background-color: #FAFAFA;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
@media (max-width: 1100px) {
  .popup {
    width: 630px;
    height: 350px;
  }
}
@media (max-width: 730px) {
  .popup {
    width: 240px;
    height: fit-content;
  }
}

.popup_active {
  display: flex;
}

.popup_button {
  position: absolute;
  top: -52px;
  right: -45px;
}
@media (max-width: 730px) {
  .popup_button {
    right: -30px;
  }
}

.popup_image > * {
  display: block;
  width: 500px;
  border-radius: 9px 0 0 9px;
}
@media (max-width: 1100px) {
  .popup_image > * {
    width: 350px;
  }
}
@media (max-width: 730px) {
  .popup_image > * {
    display: none;
  }
}

.popup_description {
  color: #000000;
  margin: 50px 20px 0 24px;
}
@media (max-width: 1100px) {
  .popup_description {
    margin: 10px 9px 0 6px;
  }
}
@media (max-width: 730px) {
  .popup_description {
    margin: 10px 10px 0 10px;
  }
}

.popup_title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
@media (max-width: 730px) {
  .popup_title {
    text-align: center;
  }
}

.popup_type {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
@media (max-width: 1100px) {
  .popup_type {
    margin-bottom: 20px;
  }
}
@media (max-width: 730px) {
  .popup_type {
    text-align: center;
  }
}

.popup_text {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
@media (max-width: 1100px) {
  .popup_text {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
@media (max-width: 730px) {
  .popup_text {
    letter-spacing: 0.5px;
  }
}

.popup_data {
  font-size: 15px;
  line-height: 110%;
  padding-left: 14px;
  margin: 0;
  letter-spacing: 1px;
}
.popup_data li {
  padding-bottom: 13px;
}
.popup_data li::marker {
  color: #F1CDB3;
}
@media (max-width: 1100px) {
  .popup_data li {
    padding-bottom: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
