.header {
  position: absolute;
  width: 100%;
}

.header_our-pets {
  margin-bottom: 30px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-primary;
  padding-top: 30px;
  &.pets {
    color: $color-dark-l;
  }
  @include media-tablet-burger {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.logo_subtitle {
  font-family: "Arial";
  color: $color-light-xl;
  font-size: 13px;
  line-height: 100%; 
  letter-spacing: 1.3px;
  font-weight: 400;
  padding: 10px 0 0 4px;
  &.pets {
    color: $color-dark-3xl;
  }
}

.nav_block {
  display: flex;
  list-style: none;
  gap: 35px;
  padding-left: 0;
  @include media-tablet-burger {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 248px 38px 0 39px;
  }
}

.nav_item {
  font-family: "Arial";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $color-dark-s;
  text-decoration: none;
  @include media-tablet-burger {
    font-size: 32px;
    line-height: 160%;
    text-align: center;
  }
  &.pets {
    color: $color-dark-l;
    &:hover {
      color: $color-dark-3xl;
    }
    &:active {
      color: $color-dark-l;
    }
  }
  &:hover {
    color: $color-light-s;
  }
  &:active {
    border-bottom: 3px solid $color-primary;
  }
  
}

.item_active {
  color: $color-light-s;
  border-bottom: 3px solid $color-primary;
  &.pets {
    color: $color-dark-3xl;
  }
}

// .navigation {
//   @include media-tablet-burger {
//     display: none;
//   }
// }

.navigation {
  @include media-tablet-burger {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: $color-dark-3xl;
    &.pets {
      background-color: $color-light-xl;
    }
  }

  transition: right linear 0.5s;
}

.navigation_active {
  @include media-tablet-burger {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
    }
  transition: right linear 0.5s;
}

.burger {
  display: none;
  @include media-tablet-burger {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

  }
  transition: all linear 0.3s;
}

.burger-line {
 display: block;
 width: 30px;
 height: 2px;
 background-color: $color-primary;
 &.pets {
  background-color: #000000;
 }
}

.burger_rotate{
  transform: rotate(90deg);
  z-index: 3;
  //left: 10px;
  transition: all linear 0.3s;
}
