.help_header {
  text-align: center;
  padding: 80px 0 60px 0;
  @include media-tablet {
      padding: 80px 0 56px 0;
  }
}

.help_content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 120px;
  justify-content: center;
  margin: 0 87px 100px 87px;
  @include media-tablet {
    margin: 0 39px 100px 39px;
    column-gap: 60px;
  }
}

.help_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: fit-content;
  @include media-tablet {
    width: 170px;
  }
}

.help_item-icon {
 width: 60px;
 height: 60px;
}

.help_item-text {
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 1px;
  color: $color-dark-l;
}