.our-friends {
  background-color: $color-light-l;
}

.our-friends_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends_header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}

.our-friends_content {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;
}

.slider_button {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
    transition: all linear 0.3s;
  }
}

.button_disabled {
  border: 2px solid $color-dark-s;
  color: $color-dark-s;
  cursor: default;
  &:hover {
    background-color: transparent;
    border: 2px solid $color-dark-s;
  }
}

.button_center {
 background-color: $color-primary;
}

.slider_button__left {
  background: url(../assets/icons/Arrow.svg) no-repeat center;
  transform: rotate(180deg);
}

.slider_button__right {
  background: url(../assets/icons/Arrow.svg) no-repeat center;
}

.slider_container {
  flex-grow: 1;
  
}

.slider-track {
  display: flex;
  justify-content: space-between;
  &.pets {
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 40px;
    }
}

.slider_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  background-color: $color-light-s;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: all linear 0.3s;
    >:last-child {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
        transition: all linear 0.3s;
      }
  }
}

.slider_item-foto {
  width: 100%;
}

.slider_item-name {
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: $color-dark-l;
}

.slider_item-button {
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 1px;
  color: $color-dark-3xl;
  padding: 15px 45px;
  border: 2px solid $color-primary;
  border-radius: 100px;
}

.our-friends_button {
  margin: 60px 0 100px 0;
}

.slider-pagination {
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  color: $color-dark-3xl;
  margin: 60px 0 100px 0;
  
}